
  <section *ngFor="let search of searchResult">
    <div class="row" *ngIf="isDictionary()">
      <div class="col">
        <h1>
          {{ search.word }} <a onclick="this.firstElementChild.play();" data-behaviour="ga-event"
            data-value="Pronunciation audio" *ngIf="audio" >
            <audio src="{{audio}}">
            </audio><i class="fas fa-volume-up "></i></a>
        </h1>
        <h1 *ngIf="errMsg">
          {{ errMsg }}
        </h1>
        <hr />
      </div>
    </div>

    <ul class="row list-unstyled" *ngIf="isDictionary()">
      <li class="col-sm-6 col-md-12">
        <h4><i class="far fa-bookmark"></i> Definitions</h4>
        <ul  class="list-unstyled">
          <li *ngFor="let item of search.lexicalEntries">

              <p class="h6 text-danger"><strong>{{ item.lexicalCategory }}</strong></p>
              <ul  class="list-unstyled">
                <li *ngFor="let entry of item.entries">
                  <p *ngIf="entry.etymologies">Etymologies : <em>{{ entry.etymologies }}</em></p>

                  <ul  class="list-unstyled ml-3">
                    <li *ngFor="let senses of entry.senses; let i = index">
                      <p class="h6"><strong>{{i+1}})</strong> {{ senses.definitions }}</p>
                      <p *ngIf="senses.examples"><i class="fas fa-bars"></i><strong> Examples</strong></p>
                      <p *ngFor="let example of senses.examples let j=index">
                      <i class="fas fa-angle-right"></i> {{ example.text }}

                      </p>
                      <span>
                        <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#test{{ i }}{{ item.lexicalCategory }}"
                          role="button" aria-expanded="false" aria-controls="collapseExample" *ngIf="senses.subsenses"><i
                            class="fas fa-plus"></i>
                          More examples
                        </a>
                      </span>
                      <ul
                        class="collapse list-unstyled ml-5"
                        id="test{{ i }}{{ item.lexicalCategory }}"
                      >

                      <div *ngFor="let subsenses of senses.subsenses; let x=index">
                        <p *ngIf="x==0 && !subsenses.examples">No example available</p>
                        <li *ngIf="subsenses.examples">

                            <p *ngFor="let ex of subsenses.examples ">
                            <i class="fas fa-caret-right"></i>  {{ ex.text }}
                            </p>

                        </li>
                        </div>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>


            <hr />
          </li>

        </ul>
      </li>

    </ul>

  </section>
  <section *ngFor="let search of synonymResult">
    <div class="row"  *ngIf="isThesaurus()">
      <div class="col">
        <h1>
          {{ search.word }}
        </h1>
        <h1 *ngIf="errMsg">
          {{ errMsg }}
        </h1>
        <hr />
      </div>
    </div>

  <ul class="row list-unstyled" *ngIf="isThesaurus()">
    <li class="col-sm-6 col-md-12">
      <h4><i class="far fa-bookmark"></i> Thesaurus</h4>
      <ul class="list-unstyled">
        <li *ngFor="let item of search.lexicalEntries">

          <p class="h6 text-danger"><strong>{{ item.lexicalCategory }}</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let entry of item.entries">
              <p *ngIf="entry.etymologies">Etymologies : <em>{{ entry.etymologies }}</em></p>

              <ul class="list-unstyled ml-3">
                <li *ngFor="let senses of entry.senses; let i = index">

                  <p><i class="fab fa-delicious"></i><strong> Synonyms</strong></p>
                  <i class="fas fa-angle-right"></i>
                  <p class="d-inline" *ngFor="let synonym of senses.synonyms let j=index">
                    {{ synonym.text }},

                  </p>
                  <p><i class="fas fa-bars"></i><strong> Examples</strong></p>
                  <p *ngFor="let example of senses.examples let j=index">
                    <i class="fas fa-angle-right"></i> <em>{{ example.text }}</em>

                  </p>
                  <span>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse"
                      href="#test{{ i }}{{ item.lexicalCategory }}" role="button" aria-expanded="false"
                      aria-controls="collapseExample" *ngIf="senses.subsenses"><i class="fas fa-plus"></i>
                      More synonyms
                    </a>
                  </span>
                  <ul class="collapse list-unstyled ml-5" id="test{{ i }}{{ item.lexicalCategory }}">

                    <div *ngFor="let subsenses of senses.subsenses; let x=index">
                      <p *ngIf="x==0 && !subsenses.synonyms">No synonyms available</p>
                      <li *ngIf="subsenses.synonyms">

                        <p *ngFor="let ex of subsenses.synonyms ">
                          <i class="fas fa-caret-right"></i> {{ ex.text }}
                        </p>

                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>


          <hr />
        </li>

      </ul>
    </li>

  </ul>

  </section>
  <section *ngFor="let search of translateResult">
    <div class="row " *ngIf="isTranslation()">
      <div class="col">
        <h1>
          {{ search.word }}
        </h1>

        <hr />
      </div>
    </div>

  <ul class="row list-unstyled" *ngIf="isTranslation()">
    <li class="col-sm-6 col-md-12">
      <h4><i class="far fa-bookmark"></i> Translation</h4>
      <ul class="list-unstyled">
        <li *ngFor="let item of search.lexicalEntries">

          <p class="h6 text-danger"><strong>{{item.lexicalCategory}}</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let entry of item.entries">
              <p *ngIf="entry.etymologies">Etymologies : <em>{{ entry.etymologies }}</em></p>

              <ul class="list-unstyled ml-3">
                <li *ngFor="let senses of entry.senses; let i = index">

                  <p><i class="fas fa-book"></i><strong> Language(ms)</strong></p>
                  <i class="fas fa-angle-right"></i>
                  <p class="d-inline" *ngFor="let translate of senses.translations let j=index">
                    {{ translate.text }},

                  </p>

                    <p><i class="fas fa-clipboard-check"></i><strong> Grammer</strong></p>
                    <p *ngFor="let grammer of entry.grammaticalFeatures">
                      <i class="far fa-check-circle"></i> <strong>{{grammer.type}}:</strong> <em>{{ grammer.text}}</em>

                    </p>



                </li>
              </ul>
            </li>
          </ul>


          <hr />
        </li>

      </ul>
    </li>

  </ul>

  </section>

  <section *ngIf="errMsg">

      <h1 class="display-4 text-muted text-center" *ngIf="errMsg">
        {{errMsg}}
      </h1>
  </section>


