<div class="container-fluid my-footer">
  <div class="row justify-content-end">
    <div class="col-md-7  ">
      <div class="footer-logo-and-message">
        <img class="footer-logo-image" src="../../assets/images/TMlogo.png" alt="" width="80">
        <span class="footer-logo-title">TM Berhad</span>
        <div class="footer-message">Copyright © 2019 | Powered by Open Innovation Platform</div>
        <!-- end footer-logo-and-message -->
      </div>
      <!-- end col-md-7 -->
    </div>
    <div class="col-md-5">

      <!-- end col-md-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
