.footer-message {
    display: block;
    font-size: 14px;
    margin-top: -2px;
    position: relative;
    left: 15px;
}

.footer-logo-title {
    font-size: 24px;
    color: #f60;
    font-weight: 700;
    display: block;
    font-family: "Raleway", sans-serif;
    position: relative;
    left: 15px;
}

img.footer-logo-image {
    float: left;
}

.my-footer{
   background: url("../../assets/images/nightsky.jpg") repeat;
     background-size:cover;
     color:white;
}

@media only screen and (max-width: 600px) {

}
