<section  style=" padding-top:50px; ">
  <div class="container" id="about">
    <div class="section-header">
      <h3 class="section-title text-center">About OIP</h3>
      <span class="section-divider"></span>
      <p class="section-description-about section-bg">
        Open Innovation Platform (OIP) is an initiative from Telekom R&amp;D Sdn. Bhd. to realize the potentials of
        Internet-of-Things
        (IoT) in digital era. End-to end IoT solution, including transport messaging protocols, data storing and
        retrieving,
        security and rapid application development, is make simple through OIP. Beside, right sets of communication,
        information and intelligence services either from telcos' or third parties' network assets can also be securely
        exposed using network Application Program Interfaces (APIs) of OIP. Application developers can now simply focus
        their energy on their innovation ideas and service launching. OIP as TM's digital platform is here to help you
        to achieve your business goals.
      </p>

    </div>
  </div>

  <div class="container" id="more-features">

    <div class="section-header">
      <h3 class="section-title">What do we offer on OIP platform?</h3>
      <span class="section-divider"></span>
      <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="icon mt-3">
            <i class="fas fa-location-arrow" style="font-size:2em"></i>
          </div>
          <p class="description">Rapid go-to-market platform for developers to deliver smart IoT services</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <div class="icon mt-3">
            <i class="fas fa-download " style="font-size:2em"></i>
          </div>
          <p class="description">The platform’s for developers to access the data and the services
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="icon mt-3">
            <i class="fas fa-upload" style="font-size:2em"></i>
          </div>
          <p class="description">The platform’s for developers to publish the data and the created services</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <div class="icon mt-3">
            <i class="fas fa-ambulance" style="font-size:2em"></i>
          </div>
          <p class="description">Developer focus on application development and OIP will take care of IT infrastructure,
            security and scalability
            for your IOT Project</p>
        </div>
      </div>

    </div>
  </div>

</section>


